discord.py>=2.6.3
aiohttp>=3.12.15
requests>=2.32.5
beautifulsoup4>=4.13.5
tiktoklive>=5.0.8
python-dotenv>=1.1.1
PyNaCl
brotli>=1.1.0
schedule>=1.2.2
httpx
aiohttp
beautifulsoup4
brotli
discord.py
PyNaCl
python-dotenv
requests
schedule
tiktoklive
